SimpleRestFramework/SimpleRestFramework/bin/
SimpleRestFramework/SimpleRestFramework/obj/
SimpleRestFramework/packages/

SimpleRestFrameworkTest/SimpleRestFrameworkTest/bin/
SimpleRestFrameworkTest/SimpleRestFrameworkTest/obj/
SimpleRestFrameworkTest/packages/
